<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/collections/fruit-blends" title="Shop Products" class="purple">Shop Products</a>
   <span aria-hidden="true" class="dot">&middot;</span>
   <span>{{ page_title }}</span>
</nav>
