<div class="quantity-selector">

  <label for="quantity">{{ 'products.product.quantity' | t }}</label>

  <button class="product-minus js-change-quantity" data-func="minus">
    <span class="icon-minus">-</span>
  </button>

  <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />

  <button class="product-plus js-change-quantity" data-func="plus">
    <span class="icon-plus">+</span>
  </button>

</div>