<div class="video-background">
    <iframe src="https://player.vimeo.com/video/{{ id }}?background=1&autoplay=1&loop=1&byline=0&title=0&controls=0&muted=1" width="640" height="360" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
</div>