@charset 'UTF-8';

/**
 * Slate Kindred | Built with Slate
 */
@import '~normalize.css/normalize';

// Settings
@import './variables';

// Tools
@import './tools/mixins';

// Base
@import './base/anchor';
@import './base/forms';
@import './base/helpers';
@import './base/layout';
@import './base/media';
@import './base/responsive-tables';
@import './base/rte';
@import './base/typography';

// Components
@import './components/hero-banner';
@import './components/icons';
@import './components/placeholders';
@import './components/responsive-images';
@import './components/address-forms';
@import './components/product-preview';

// Sections
@import './sections/blog-posts';
@import './sections/collection-list';
@import './sections/featured-collection';
@import './sections/image-with-text';
@import './sections/hero';

// Templates
@import './templates/gift_card';
@import './templates/product';

$slick-font-path: '/node_modules/slick-carousel/slick/fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: '/node_modules/slick-carousel/slick-carousel/slick/' !default;
$slick-arrow-color: black !default;

@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
