html {
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  font-size: 1.6rem;
  font-style: $font-body-style;
  font-weight: $font-body-weight;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

h1,
.h1 {
  margin: 0 0 3rem;
  font-family: $font-heading;
  font-size: $font-size-h1;
}

h2,
.h2 {
  margin: 0 0 2rem;
  font-family: $font-heading;
  font-size: $font-size-h2;
}

h3,
.h3 {
  margin: 0 0 2rem;
  font-family: $font-heading;
  font-size: $font-size-h3;
}

h4,
.h4 {
  margin: 0 0 2rem;
  font-family: $font-heading;
  font-size: $font-size-h4;
}

h5,
.h5 {
  margin: 0 0 2rem;
  font-family: $font-heading;
  font-size: $font-size-h5;
}

p,
.p {
  margin: 0 0 2rem;
  font-family: $sans-serif;
  font-size: $font-size-p;
  font-weight: $regular;
}

i,
.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

b,
strong,
.bold {
  font-weight: 700;
}
